.body_process1,.body_process2,.body_process3{
	width: 9em;
	height: 3em;
	margin: 2em auto;
}

.body_process_save{
	width: 30%;
	margin: 2em auto;
}

.body_center_form{
	border:1em #f7f7f7 solid;
	width: 40%;
	height: 60%;
	margin: 1em auto;
}

.myproject{
	width: 80%;
	margin: 1em auto;
}